@import 'tailwindcss';
@theme {
  --color-primary: #484848;
  --color-secondary: #535353;
  --color-accent: #888888;
  --color-bg: #fff;
  --color-bg-accent: #d8d8d8;
}
[data-theme='dark-mode'] {
  --color-primary: #e6e6e6;
  --color-secondary: #bdbdbd;
  --color-accent: #9a9a9a;
  --color-bg: #1e1e1e;
  --color-bg-accent: #2a2a2a;
}

header {
  @apply text-5xl tracking-wider text-primary;
}
h2 {
  @apply text-lg text-accent;
}
h3 {
  @apply text-lg text-primary;
}
button {
  @apply text-accent;
}
.section {
  @apply pt-40 h-screen w-8/10 justify-self-center;
}
.root {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}
.bg {
  background: linear-gradient(var(--color-bg), var(--color-bg-accent));
  background-attachment: fixed;
}
.body {
  align-items: center;
  justify-items: center;
}
