@import 'tailwindcss';
@theme {
  --color-primary: #484848;
  --color-secondary: #535353;
  --color-accent: #888888;
  --color-bg: #fff;
  --color-bg-accent: #d8d8d8;
}
[data-theme='dark-mode'] {
  --color-primary: #e6e6e6;
  --color-secondary: #bdbdbd;
  --color-accent: #9a9a9a;
  --color-bg: #1e1e1e;
  --color-bg-accent: #2a2a2a;
}

header {
  @apply text-7xl tracking-wider text-primary;
}
h2 {
  @apply text-2xl text-accent;
}
h3 {
  @apply text-2xl text-primary;
}
p {
  @apply text-lg text-accent;
}
button {
  @apply text-accent;
}
.section {
  @apply pt-30 h-screen w-8/10 lg:w-5/10 justify-self-center relative;
}
.root {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}
.bg {
  background: linear-gradient(var(--color-bg), var(--color-bg-accent));
  background-attachment: fixed;
}
.body {
  align-items: center;
  justify-items: center;
}
.bottom-chevron {
  @apply absolute bottom-[5%] left-[50%];
}

.li-paragraph {
  @apply text-lg/8 ml-8 mb-4 list-disc;
}
.scrollbar {
  scrollbar-color: var(--color-bg) var(--color-secondary);
  scrollbar-width: thin;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
.project-thumbnail {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 3.5%;
}
.project-text {
  @apply text-xl!;
}
