@import 'tailwindcss';
@theme {
  --color-primary: #484848;
  --color-secondary: #535353;
  --color-accent: #888888;
  --color-bg: #fff;
  --color-bg-accent: #d8d8d8;
  --color-overlay: #ffffffee;
  --color-overlay-reverse: #bdbdbd;
  --color-tint: #a85a4a;
}
[data-theme='dark-mode'] {
  --color-primary: #e6e6e6;
  --color-secondary: #bdbdbd;
  --color-accent: #9a9a9a;
  --color-bg: #1e1e1e;
  --color-bg-accent: #2a2a2a;
  --color-overlay: #333333;
  --color-overlay-reverse: #535353;
  --color-tint: #a85a4a;
}
html {
  user-select: none;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
header {
  @apply text-7xl tracking-wider text-primary;
}
h2 {
  @apply text-2xl text-accent;
}
h3 {
  @apply text-2xl text-primary;
}
p {
  @apply text-lg text-accent;
}
button {
  @apply text-accent;
}

section {
  @apply flex flex-col min-h-screen max-h-max w-8/10 lg:w-7/10 xl:w-5/10 justify-self-center justify-center relative;
  scroll-snap-align: start;
}
.root {
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}
main {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

main > * {
  min-height: 100vh;
  scroll-snap-align: start;
}

.bg {
  background: linear-gradient(var(--color-bg), var(--color-bg-accent));
  background-attachment: fixed;
  transition: background-color 0.5s ease;
}
body {
  align-items: center;
  justify-items: center;
}
#banner {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  font-size: 2.25rem;
  line-height: 2.5rem;

  color: var(--color-bg-accent);
  background-color: var(--color-accent);

  transform: translateY(0);
  transition: all 0.5s ease-in-out;
}
#banner a {
  @apply hover:text-secondary! transition-colors duration-500;
}
.distort-word {
  display: inline-block;
  will-change: transform;
}

.skill-tag {
  @apply transition-shadow flex gap-2 h-7 border-2 border-accent shadow-2xl shadow-overlay-reverse rounded-2xl p-6 items-center;
}
.skill-tag:hover {
  @apply duration-300 ease-in-out shadow-primary shadow-xs;
}
.tech-icon {
  @apply max-xl:size-6 xl:size-8;
}
.tech-tag-text {
  @apply max-xl:text-base!;
}
.experience-container {
  @apply rounded-2xl bg-overlay p-6 drop-shadow-lg shadow-overlay-reverse;
  transition: box-shadow 0.3s ease;
}
.li-paragraph {
  @apply text-primary text-lg/8 ml-8 mb-4 list-disc;
}
.scrollbar {
  scrollbar-color: var(--color-bg) var(--color-secondary);
  scrollbar-width: thin;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  align-items: start;
}

.embla__slide {
  flex: 0 0 85% !important;
  min-width: 0;
  height: 100%;
  @apply px-4 text-primary flex flex-col h-full justify-between gap-4;
}
.project-thumbnail {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 3.5%;
  @apply shadow-xl;
}
.project-text {
  @apply text-xl!;
}

#icon {
  @apply hover:text-tint transition-colors duration-300;
}

.hero-parallax {
  background-image:
    linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
    url('/src/assets/images/hero-photo.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  @apply lg:w-240;
}
#home {
  @apply lg:w-screen;
}
.parallax-text {
  @apply text-white!;
}
